:root {
  --border-radius: 0.5rem;
  --border-size: 0.15rem;
  --border-bg: conic-gradient(blue, aqua, blue, blue);
  --padding: 4px;
}

@font-face {
  font-family: amazon ember display;
  font-style: normal;
  font-weight: 400;
  src: local('Amazon Ember Display'), url('https://fonts.cdnfonts.com/s/67521/Amazon Ember Display.woff') format('woff')
}

.title {
  box-shadow: 0 0.75rem 0.95rem #0003;
  margin: 0 auto;
  background: none;
  z-index: 2;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #eee;
  text-align: center;
  flex-direction: column;
  font-family:  Amazon Ember Display, Arial, sans-serif;
  font-weight: 400;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
#controlBarcodes {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 150px;
}

#containerBarcode {
  position: relative;
  overflow: hidden;
    border-radius: calc(var(--border-radius) - var(--border-size));
}

.rotating-border {
  position: relative;
  overflow: hidden;
  padding: calc(var(--padding) + var(--border-size));
  border-radius: var(--border-radius);

  &::before {
    content: '';
    display: block;
    background: var(--border-bg);
    width: calc(100% * 1.41421356237);
    padding-bottom: calc(100% * 1.41421356237);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: -2;
    animation: spin 5s linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    inset: var(--border-size);
    background: linear-gradient(to top, rgb(59, 171, 190) 0%, #3d67bb 52%, #0291f1f6 100%);
    z-index: -1;
    border-radius: calc(var(--border-radius) - var(--border-size));
  }
}

#tag {
  display: flex;
  justify-content: right;
  height: 20px;
  font-size: 8px;
  margin-bottom: -10px;
  color: #33f
}

#tag:hover {
  color: white;
  user-select: none;
  cursor: default;
}

#container {
  display: flex;
  flex-direction: column;
}

p,td {
  font-family: arial;
}

.titletext i {
  font-size: small;
}

.titletext {
  
  padding: 4px;
  font-weight: bold;
  text-align: center;
}

.title {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  border-radius: 10px;
  background: rgb(234, 231, 222);
  padding: 5px;
  font-weight: 400;
  font-family: Amazon Ember Display, Arial, sans-serif;
  display: table;
  text-align: center;
  z-index: 2;
  transition: 0.1s 0.1s cubic-bezier(.93, .43, .56, .9);
}

.title.rotating-border:hover {
  --border-size: .2rem;
}

.title h1 {
  margin-bottom: 0px;
  padding-bottom: 3px;
  border-bottom: 3px solid #f7b800;
  margin-top: 4px;
  cursor: default;
  user-select: none;
}

.apmbutton {
  cursor: default;
  user-select: none;
  border: 1px solid #ffc826;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  color: #000000;
  background-color: #ffd65e;
  margin: 0px 3px 0px 3px;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#ffd65e),
      to(#ce9a01));
}

.apmbutton:hover {
  color: rgb(247, 247, 247);
  border: 1px solid #f7b800;
  background-color: #ffc92b;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#ffc92b),
      to(#ce9a01));

}

.spdbutton {
  cursor: default;
  user-select: none;
  border: 1px solid #170675;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  color: #ffffff;
  background-color: #23a2ec;
  margin: 0px 3px 0px 3px;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#5ec4ff),
      to(#2001ce));
}

.stripbutton {
  cursor: default;
  user-select: none;
  box-sizing: border-box;
  border: 1px solid #ce0101;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  color: #ffffff;
  background-color: #23a2ec;
  margin: 0px 3px 0px 3px;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#f35e5e),
      to(#ce0101));
}

.stripbuttonF {
  cursor: default;
  user-select: none;
  box-sizing: border-box;
  border: 1px solid #ec850e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  color: #ffffff;
  background-color: #23a2ec;
  margin: 0px 3px 0px 3px;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#e79b44),
      to(#ec850e));
}

.stripbutton:hover {
  border: 1px solid #e93dcc;

}




.spdbutton:hover {
  border: 1px solid #8cd8fc;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#5ec4ffaf),
      to(#2001cea9));

}




input[type="text"], input[type="number"] {
  background: #ffffff;
  border-radius: 3px;
  border: solid 1px #ddbd0ada;
  height: 20px;
  padding-left: 10px;
  width: 200px;
  box-shadow: 0 0.3rem 0.5rem rgba(41, 38, 38, 0.199);
  transition: 0.1s 0.1s cubic-bezier(.93, .43, .56, .9);
}

input[type="text"]:focus, input[type="number"]:focus {
  border-bottom: 3px solid #0a5986c5;
  outline: none;
  padding: 4px;
}




.mainPrint {
  display: flex;
  align-items: center;
  justify-content: center;

}

#presets {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  border-top: 2px solid #200388;
  border-bottom: 2px solid #200388;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-self: baseline;
  flex-wrap: wrap;
  gap: 5px 5px
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 2s linear infinite;
  transition: animation-duration 2s ease-in-out, color 2s ease-in-out;
}

.rotating:hover {
  stroke: #a37f05 !important;
  animation-duration: .5s;
}

#printAnim {
  border-radius: 0 0 1rem 1rem;
  z-index: 1;
  margin-top: -90px;
  transition: margin-top 1s ease-in-out;
  border: 1px solid blue;
  border-top: none;
  overflow: hidden;
  background-color: #fff;
}

#printAnim:hover {
  margin-top: -30px;
  transition: margin-top 1s ease-in-out;
}

#printAnim:hover:after {
  transform: scaleX(1);
  transition: transform 1s ease-in-out;
}

#printAnim:after {
  content: ' ';
  position: relative;
  padding-top: 1px;
  border-bottom: 2px solid blue;
  transform-origin: 0% 50%;
  display: block;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

#utilities, #controlBarcodes {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  border-bottom: 2px solid #ffffff; /* Example value */
}

#utilities {
  flex-wrap: wrap;
  gap: 10px 10px;
}
#inputs {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px 0px;
}

#create {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 50px 50px;
  flex-grow: 1;
}
#barcodePreviewSection {
  align-self: center;
  border: 2px solid #000;
  padding: 3px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}